[submodule "third_party/freertos_kernel"]
	path = third_party/freertos_kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "third_party/CMSIS"]
	path = third_party/CMSIS
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "third_party/nxp/rt1176-sdk"]
	path = third_party/nxp/rt1176-sdk
	url = https://github.com/google-coral/coralmicro-rt1176-sdk
[submodule "third_party/toolchain"]
	path = third_party/toolchain
	url = https://spacepark.googlesource.com/valiant/toolchain
