SUBSYSTEM=="usb",  ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", MODE="0666", GROUP="plugdev"
KERNEL=="ttyACM*", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", MODE="0666", SYMLINK+="coral_micro_dbgUART"
SUBSYSTEM=="usb",  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="93ff", MODE="0666", GROUP="plugdev"
KERNEL=="ttyACM*", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="93ff", MODE="0666", SYMLINK+="coral_micro_UART-$attr{serial}"
KERNEL=="hidraw*", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="93ff", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb",  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="93fe", MODE="0666", GROUP="plugdev"
KERNEL=="hidraw*", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="93fe", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb",  ATTRS{idVendor}=="1fc9", ATTRS{idProduct}=="0094", MODE="0666", GROUP="plugdev"
KERNEL=="ttyACM*", ATTRS{idVendor}=="1fc9", ATTRS{idProduct}=="0094", MODE="0666", SYMLINK+="EVK_UART"
