# ROM bootloader
SUBSYSTEM=="usb",  ATTRS{idVendor}=="1fc9", ATTRS{idProduct}=="013d", MODE="0666", GROUP="plugdev"
KERNEL=="hidraw*", ATTRS{idVendor}=="1fc9", ATTRS{idProduct}=="013d", MODE="0666", GROUP="plugdev"

# Flashloader
ATTRS{idVendor}=="15a2",MODE="666"
SUBSYSTEM=="usb",  ATTRS{idVendor}=="15a2", ATTRS{idProduct}=="0073", MODE="0666", GROUP="plugdev"
KERNEL=="hidraw*", ATTRS{idVendor}=="15a2", ATTRS{idProduct}=="0073", MODE="0666", GROUP="plugdev"

# Bootloader mode ID
SUBSYSTEM=="usb",  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="9307", MODE="0666", GROUP="plugdev"
KERNEL=="hidraw*", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="9307", MODE="0666", GROUP="plugdev"

# Application mode ID
SUBSYSTEM=="usb",  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="9308", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb",  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="9308", TEST=="power/control", ATTR{power/control}="auto"
SUBSYSTEM=="usb",  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="9308", TEST=="power/autosuspend_delay_ms", ATTR{power/autosuspend_delay_ms}="1000"
KERNEL=="ttyACM*", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="9308", MODE="0666", SYMLINK+="coral_micro_UART-$attr{serial}"

# Legacy IDs
SUBSYSTEM=="usb",  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="93fe", MODE="0666", GROUP="plugdev"
KERNEL=="hidraw*", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="93fe", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb",  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="93ff", MODE="0666", GROUP="plugdev"
KERNEL=="ttyACM*", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="93ff", MODE="0666", SYMLINK+="coral_micro_UART-$attr{serial}"
